* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* .pin-spacer {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle at top,
    rgba(0, 0, 0, 0.5130252784707633) 5%,
    rgba(254, 186, 8, 1) 11%,
    rgba(0, 0, 0, 1) 100%
  );
  background-position: center;
  background-size: contain;
} */
body {
  background: rgb(0, 0, 0);
}
u {
  text-decoration-color: #feba08;
  text-decoration-style: wavy;
}
.font-roboto {
  font-family: "Roboto", sans-serif;
}
.front-page {
  width: 100%;
  height: 100vh;
  color: #fff;
  clip-path: circle(5%);
}
.music-note {
  fill: #feba08 !important;
}
.front-page video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-color {
  color: #feba08 !important;
}
.intro-text,
.music-note {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  z-index: 2;
}
.pin-spacer {
  background: rgb(254, 186, 8);
  background: radial-gradient(
    circle,
    rgba(254, 186, 8, 1) 0%,
    rgba(87, 72, 4, 1) 100%
  );
}
.blend {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #493501;
  opacity: 0.3;
}
.title {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: #fff;
}
.sub-title {
  font-size: 1.5rem;
  color: #fff;
}
.second-page {
  height: 100vh;
}
.intro-text {
  padding: 1rem;
}
/* NAV BAR */
.nav-effect {
  z-index: 2;
}
.logo {
  background: url(./img/logo-flava.png);
  background-size: cover;
  width: 260px;
  height: 85px;
}
.on-page {
  color: #feba08 !important;
}
.create-acc {
  outline: 1px solid #feba08;
  outline-offset: -2px;
  transition: outline-width 200ms ease, outline-offset 200ms ease;
}
.create-acc:hover,
.create-acc:focus {
  outline: 1px solid #feba08;
  outline-width: 8px;
  outline-offset: -8px;
}
/* SECOND_PAGE */
.second-page {
  position: relative;
}
.btn-buy {
  text-decoration: none;
  color: #000;
  padding: 15px 25px;
  background: #feba08;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  border: 2px solid #feba08;
  transition: background 200ms ease, color 200ms ease;
}
.btn-buy:hover,
.btn-buy:focus {
  color: #feba08;
  background: transparent;
  border: 2px solid #feba08;
}
/* TIMER */
.countdown-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.big-text {
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 1;
  margin: 1rem 2rem;
}
.countdown-el {
  text-align: center;
}
.countdown-el span {
  font-size: 1.3rem;
}
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
/* @media (max) */