* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
/* .pin-spacer {
  background: rgb(0, 0, 0);
  background: radial-gradient(
    circle at top,
    rgba(0, 0, 0, 0.5130252784707633) 5%,
    rgba(254, 186, 8, 1) 11%,
    rgba(0, 0, 0, 1) 100%
  );
  background-position: center;
  background-size: contain;
} */
body {
  background: #121212;
}
u {
  text-decoration-color: #feba08;
  text-decoration-style: wavy;
}
.bg-secondary-black {
  background: #121212 !important;
}
.bg-primary {
  background: #feba08 !important;
}
.color-secondary {
  color: #121212;
}
.font-roboto {
  font-family: "Roboto", sans-serif;
}
.front-page {
  width: 100%;
  height: 100vh;
  color: #fff;
  clip-path: circle(5%);
}
.music-note {
  fill: #feba08 !important;
}
.front-page video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.main-color {
  color: #feba08 !important;
}
.intro-text,
.music-note {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
  z-index: 2;
}
.pin-spacer {
  background: rgb(254, 186, 8);
  background: radial-gradient(
    circle,
    rgba(254, 186, 8, 1) 0%,
    rgba(87, 72, 4, 1) 100%
  );
}
.blend {
  position: absolute;
  width: 100%;
  height: 100vh;
  background: #493501;
  opacity: 0.3;
}
.title {
  font-size: 3rem;
  padding-bottom: 1rem;
  color: #fff;
}
.sub-title {
  font-size: 1.5rem;
  color: #fff;
}
.second-page {
  height: 100vh;
}
.intro-text {
  padding: 1rem;
}
/* NAV BAR */
.nav-effect {
  z-index: 2;
}
.logo {
  background: url(./img/logo-flava.png);
  background-size: cover;
  width: 260px;
  height: 85px;
}
.on-page {
  color: #feba08 !important;
}
.create-acc {
  outline: 1px solid #feba08;
  outline-offset: -2px;
  transition: outline-width 200ms ease, outline-offset 200ms ease;
}
.create-acc:hover,
.create-acc:focus {
  outline: 1px solid #feba08;
  outline-width: 8px;
  outline-offset: -8px;
}
.dropdown-menu {
  background: #121212;
}
.dropdown-item {
  color: #fff;
  transition: background 200ms ease, color 200ms ease;
}
/* SECOND_PAGE */
.second-page {
  position: relative;
}
.btn-buy {
  text-decoration: none;
  color: #121212;
  padding: 15px 25px;
  background: #feba08;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
  border: 2px solid #feba08;
  transition: background 200ms ease, color 200ms ease;
}
.legenda {
  height: 15%;
  background: #121212a4;
  padding-top: 5%;
  color: #feba08;
  font-weight: bold;
}
.btn-buy:hover,
.btn-buy:focus {
  color: #feba08;
  background: transparent;
  border: 2px solid #feba08;
}
/* TIMER */
.countdown-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
.big-text {
  font-weight: bold;
  font-size: 4.5rem;
  line-height: 1;
  margin: 1rem 2rem;
}
.countdown-el {
  text-align: center;
}
.countdown-el span {
  font-size: 1.3rem;
}
/* FOOTER */
.icone {
  height: 50px;
  width: 50px;
  background: #feba08;
  display: flex;
  justify-content: center;
  align-items: center;
}
.row-footer {
  height: 50px;
  align-items: center;
  justify-content: space-between;
}
.form-email {
  position: relative;
}
.email-input {
  height: 50px;
  position: relative;
  padding-left: 1rem;
}
.email-input:focus {
  box-shadow: none;
  border: none;
  outline: none;
}
.btn-sub {
  position: absolute;
  height: 50px;
  width: 120px;
  right: 0;
  border: none;
  background: #feba08;
}
/* SLIDER  */
.mySwiper {
  max-width: 810px;
  height: 350px;
}
.slider-artistas {
  width: 250px !important;
  text-align: center;
  font-size: 18px;
  background: #fff;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.slider-artistas img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.mySwiper2 {
  width: 1160px;
  height: 90px;
}
.slider-patron {
  width: 175px !important;
  height: 85px !important;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-patron span {
  width: 175px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.slider-patron img {
  width: 180px;
}
.navbar-dark .navbar-toggler-icon {
  background: url(./img/text_align_right.png) no-repeat;
  background-size: 35px 23px;
}
.navbar-dark .navbar-toggler {
  border: none;
}
.container-slider-1 {
  position: relative;
}
.swiper-button-next-unique,
.swiper-button-prev-unique {
  width: 25px;
  height: 25px;
  position: absolute;
  right: 0;
  top: 10px;
}
.swiper-button-next-unique {
  background: url(./img/arrow-right.png) no-repeat center;
  right: 19%;
}
.swiper-button-prev-unique {
  background: url(./img/arrow-left.png) no-repeat center;
  right: 21%;
}
.swiper-pagination-bullet-active {
  background: #feba08 !important;
}
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: -4px;
}
@media (max-width: 990px) {
  .intro-text {
    width: 100%;
  }
  .title {
    font-size: 1.5rem;
  }
  .sub-title {
    font-size: 1rem;
  }
  .mySwiper {
    width: 250px !important;
  }
  .mySwiper2 {
    width: 350px !important;
  }
  .slider-patron img {
    width: 150px;
  }
  .swiper-horizontal > .swiper-pagination-bullets,
  .swiper-pagination-bullets.swiper-pagination-horizontal,
  .swiper-pagination-custom,
  .swiper-pagination-fraction {
    bottom: -4px;
  }

  .row-footer {
    height: auto;
    text-align: center;
  }
  .swiper-button-prev-unique {
    top: 40px;
    left: 43%;
  }
  .swiper-button-next-unique {
    top: 40px;
    left: 43%;
  }
}
@media all and (min-width: 992px) {
  .navbar .nav-item .dropdown-menu {
    display: none;
  }
  .navbar .nav-item:hover .nav-link {
  }
  .navbar .nav-item:hover .dropdown-menu {
    display: block;
  }
  .navbar .nav-item .dropdown-menu {
    margin-top: 0;
  }
}
